@import '../../styles/mixins';
@import '../../styles/styles';

h3 {
    color: black;
    opacity: 0.8;
    font-size: 12px;
    font-weight: 400;
}

.vendor-select {
    @include input-box-big;
    width: 382px;
    margin: auto;
    display: block;
}

.input-big-box {
    @include input-box-big;
    width: 382px;
    margin: auto;
    display: block;
}

.small-inputs-container {
    display: flex;
    justify-content: space-around;
}

.input-small-box {
    @include input-box-big;
    width: 175px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.add_card_button {
    color: white;
    background-color: black;
    width: 382px;
    height: 72px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    margin: auto;
    display: block;
    margin-top: 30px;
}

