@import '../../styles/mixins';

.home-wrapper {
    @include wrapper;
}

h1 {
    color: black;
    font-size: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
}

p {
    @include p;
    text-align: center;
}

.add__button {
    width: 382px;
    height: 80px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 22px;
    font-family: "PT Mono", monospace;
    font-weight: 700;
    display: block;
    margin: auto;
    margin-top: 25px;
    top: 150px; 
}

.active {
    margin-bottom: 60px;
}