@import '../../styles/mixins';
@import '../../styles/styles';
$bitcoin-icon: url('./vendor-bitcoin.svg');
$evil-icon: url('./vendor-evil.svg');
$ninja-icon: url('./vendor-ninja.svg');
$blockchain-icon: url('./vendor-blockchain.svg');
$chip-dark: url('./chip-dark.svg');
$chip-light: url('./chip-light.svg');

.card {
    @include card;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0 0 0 / 10%);
    background-size: contain;

    h2 {
        font-size: 29px;
        font-weight: 400;
    }

    h3 {
        font-size: 18px;
    }

    .card-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        

        &.article__1 {
            align-items: flex-start;
        }

        &.article__2 {
            align-items: flex-end;
        }
    }

}

.bitcoin {
    background: $bitcoin-icon no-repeat, $chip-dark no-repeat, $bitcoin-bg;
    color: black;
}

.evil {
    background: $evil-icon no-repeat, $chip-light no-repeat  $evil-bg;
    color: white;
}

.ninja {
    background:  $ninja-icon no-repeat, $chip-light no-repeat $ninja-bg;
    color: white;
}

.blockchain {
    background: $blockchain-icon no-repeat, $chip-dark no-repeat, $blockchain-bg;
    color: black;
}